ul li a{
    font-size: 16px;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
}
ul li a:hover{
    border-bottom: 2px solid black;
}
body{
    background-color: rgb(194, 193, 193);
}

#img{
    height: 310px;
    width: 100%;
    border-radius: 10px;
  }
  #img2{
    border-radius: 10px;
  }

@media(max-width:992px){
    #img{
        height: 420px;
    }
    #img2{
        height: 420px;
    }
}

@media(max-width:767px){
    #img2{
        margin-top: 20px;
    }
}

footer ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
}
footer ul li a:hover{
    text-decoration: none;
    color: white;
    text-align: center;
}
footer{
    width: 99.11%;
    background-color: rgb(29, 55, 168);
}
footer img{
    margin-left: 60px;
}
footer h2{
    /* font-family: 'Bree Serif', serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;

}
@media(max-width:767px){
    #fimg{
        margin-left: 200px;
        width: 30%;
    }}
@media(max-width:500px){
    #fimg{
        margin-left: 130px;
        width: 30%;
    }
}

.main{
    display: flex;
    justify-content: space-around;

}
#rights{
    display: block;
    width: 50%;
}

.icon{
    font-size: 22px;
}
.icon a{
    font-size: 22px;
    padding: 3px 10px;
    text-align: right;

}

@media(max-width:425px){
    #icon{
        display: none;
    }
}

