ul li a{
    font-size: 16px;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
}
ul li a:hover{
    border-bottom: 2px solid black;
}
body{
    background-color: rgb(190, 190, 190);
}
main h2{
    font-family: 'Bree Serif', serif;
}
label{
    font-weight: 500;
    margin-left: 70px;

}
#name{
    width: 80%;
    margin-left: 70px;
}
#search{
    width: 80%;
    margin-left: 70px;
}
#reset{
    margin-left: 70px;

}
@media(max-width:992px){
    #name{
        width: 100%;
        margin-left: 0px;
    }
    #search{
        width: 100%;
        margin-left: 0px;

    }
    #reset{
        margin-left: 0px;
    
    }
    label{
        margin-left: 0px;

    }
}

footer ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
}
footer ul li a:hover{
    text-decoration: none;
    color: white;
    text-align: center;
}
footer{
    width: 99.11%;
    background-color: rgb(29, 55, 168);
}
footer img{
    margin-left: 60px;
}
footer h2{
    /* font-family: 'Bree Serif', serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;

}
@media(max-width:767px){
    #fimg{
        margin-left: 200px;
        width: 30%;
    }}
@media(max-width:500px){
    #fimg{
        margin-left: 130px;
        width: 30%;
    }
}

.main{
    display: flex;
    justify-content: space-around;

}
#rights{
    display: block;
    width: 50%;
}

.icon{
    font-size: 22px;
}
.icon a{
    font-size: 22px;
    padding: 3px 10px;
    text-align: right;

}

@media(max-width:425px){
    #icon{
        display: none;
    }
}